body{
    margin: 0;
    padding: 0;
}
/* #main{
    width: 95%;
} */
#root1{
    width: 80%;
    text-align: center;
    margin: 10px;
}

#root{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 10%;
    margin: auto;
}
.category{
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: rgb(56, 107, 151);
    margin-left: 5%;
}
#root button{
   width: 40%;
   padding: 2% 0;
    background-color: rgb(91, 125, 155);
    margin: 2%;
    border: none;
    border-radius: 6%;

}
#btns-alphabet{
    width: 100%;
    display: flex;   
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}
#btns-alphabet p{
    width: 100%;
    text-align: center;
}
.alphabet{
    padding: 2%;
    margin: 1% 1% 0 0;
    background-color:rgb(91, 125, 155)  ;
    border-radius: 5px;
    outline: none;
}
#main{
    width: 60vw;
    height: 70vh;
    margin: auto;
}
#hangman{
    width: 100%;
    padding: 20% 0;
    display: none;
    position: relative;
     background-image: url("../img/fon.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} 
#hang1{
    width: 25%;
    padding: 15% 0;
    position: absolute;
    top: 13%;
    left: 15%;
    background-image: url("../img/hangtree.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang2{
    width: 3%;
    padding: 4% 0;
    position: absolute;
    top: 18%;
    left: 24%;
    background-image: url("../img/string.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang3{
    width: 7%;
    padding: 3% 0;
    position: absolute;
    top: 25%;
    left: 22%;
    background-image: url("../img/head.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang4{
    width: 8%;
    padding: 3% 1% 2% 0%;
    position: absolute;
    top: 40%;
    left: 21%;
    background-image: url("../img/body.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang5{
    width: 2%;
    padding: 2% 1% 2% 2%;
    /* height: 29px; */
    position: absolute;
    top: 51%;
    left: 23%;
    background-image: url("../img/short.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang6{
    width: 2%;
    padding: 2% 0% 2% 0%;
    /* height: 29px; */
    position: absolute;
    top: 44%;
    left: 20%;
    background-image: url("../img/leftarm.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang7{
    width: 2%;
    /* height: 29px; */
    padding: 2% 0;
    position: absolute;
    top: 44%;
    left: 29%;
    background-image: url("../img/rightarm.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang8{
    width: 2%;
    padding: 2% 0;
    /* height: 26px; */
    position: absolute;
    top: 60%;
    left: 23%;
    background-image: url("../img/leftleg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#hang9{
    width: 2%;
    /* height: 26px; */
    padding: 2% 0;
    position: absolute;
    top: 60%;
    left: 26%;
    background-image: url("../img/rightleg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
#final{
    width:80%;
    display: none;
    text-align: center;
}
#finalh1{
    color: rgb(56, 107, 151);
    font-style: italic;
}
#gif{

    padding: 21% 0;
    margin-top: 5%;
    margin-left: 25%;
}
.won{
    width: 50%;
    background-image: url("../img/source.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.lost{
    width: 80%;
    background-image: url("../img/lose.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#new{
    background-color: rgb(111, 157, 197);
    padding: 2% 4%;
    margin: 1%;
    outline: none;
    border-radius: 10%;
    border: none;
}
